<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.writing.jumpstart.jumpstart2017">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="JUMPSTART"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LandingActivity"
            android:label="JUMPSTART">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="Register" />
        <activity
            android:name=".LoginActivity"
            android:label="Log In" />
        <activity
            android:name=".ProjectListActivity"
            android:label="Projects" />
        <activity
            android:name=".VideoActivity"
            android:label="Videos" />
        <activity
            android:name=".dummyActivity"
            android:label="Videos">
        </activity>
    </application>

</manifest>